services:
  - type: web
    name: unic-backend
    runtime: node
    region: frankfurt
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: HOST
        value: 0.0.0.0
      - key: MONGODB_URI
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: WEBHOOK_SECRET
        sync: false
    healthCheckPath: /health
